/* https://huemint.com/website-2/#palette=faf8ef-14406c-0065ab-1a99d5 */

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}


@media (max-width: 768px) {
    .mobilenav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #14406c;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .mobilenav a{
        display: flex;
        flex-direction: column;
        margin: 25px 25px;
        text-transform: uppercase;
        color: #faf8ef;
        transition: color 0.3s ease;
        
    }
    .mobilenav a:hover{
        text-decoration: none;
        color: #1a99d5;
    }

    .btn-devis {
        text-transform: uppercase;
        background-color: #faf8ef;
        color: #14406c;
        text-decoration: none;
        border: 2px solid #faf8ef;
        border-radius: 16px;
        transition: border 0.3s ease;
        
    }
    
    .btn-devis:hover {
        border-color: #1a99d5;
    }
    
    .btn-devis p{
        margin: auto auto;
        padding: 5px;
        font-weight: 500;
        align-items: center;
        color: #14406c;
        font-size:15px ;
        transition: color 0.2s ease;
        
    }
    .btn-devis p:hover {
        color: #1a99d5;
        border-radius: 16px;
    }

    .sidenav a{
        display: none;
    }



    .image img{
        max-width: 500px;
        padding: 50px 50px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    
    .image2 img{
        max-width: 500px;
        padding: 0 100px;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    /**SERVICES*/
    .listes-services1 ul{
        list-style: none;
        line-height: 3;
        text-align: center;
        font-weight: 200;
        font-size: 5px;
       
    }
    
    .listes-services2 ul{
        list-style: none;
        line-height: 3;
        text-align: center;
        font-weight: 500;
        font-size: 10px;
        
    }
    
    

    
    /******************** FOOTER SECTION *******************/
    #footer{
        bottom: 0;
        position: absolute;
        background-color: black;
        width: 100%;
    }
    
    .column-footer{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    
    }
    
    .column ul{
        list-style: none;
        
    }
    
    .column ul a{
        color: grey;
    }
    
    .column h2{
        font-size: 25px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .column ul li{
        text-align: center;
        font-size: 15px;    
    }
    
    .column ul li i{
        padding-right: 10px;    
    }


}


/**DESKTOP*/
@media only screen and (min-width: 601px) {
    .open-btn{
        display: none;
    }
    .mobilenav{
        display: none;
    }

    .sidenav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #14406c;
        height: 50px;
        font-size:20px;
        text-align: right;
    }
    
    .sidenav a{
      color: #faf8ef;
      margin-right: 5%;
      text-transform: uppercase;
      transition: color 0.3s ease;  
      
    
    }
    .sidenav a:hover{
        color: #1a99d5;
        text-decoration: none;
        
    }
    
    .closebtn{
        display: none;
    }
    .btn-devis {
        text-transform: uppercase;
        background-color: #faf8ef;
        color: #14406c;
        text-decoration: none;
        border: 2px solid #faf8ef;
        border-radius: 16px;
        transition: border 0.3s ease;
        
    }
    
    .btn-devis:hover {
        border-color: #1a99d5;
    }
    
    .btn-devis p{
        margin: auto auto;
        padding: 10px;
        font-weight: 500;
        align-items: center;
        color: #14406c;
        font-size:15px ;
        transition: color 0.2s ease;
        
    }
    .btn-devis p:hover {
        color: #1a99d5;
        border-radius: 16px;
    }
    
}


.sidenav{
    background-color: #14406c;
}






/*-------------------------------BANNER-------------------------------------------------*/
#banner {
    position: relative;
    overflow: hidden; 
    padding: 50px 0px ;
    flex-direction: column;
    display: flex;
    background-color: #faf8ef;
}



.Container{
    color: #faf8ef;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    padding: 50px 10px;
    text-align: center;
    font-size: 25px;
    line-height: 2;
}


.image img{
    width: 1000px;
    padding: 50px 50px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.image2 img{
    width: 800px;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

/*SERVICES*/
#services{
    padding: 50px 0;
    background-color: #14406c;
    color: #fffefe;
    
}

.Container{
    color: #faf8ef;
}
#services h1{
    padding-bottom: 40px;
    text-align: center;
}
.services{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    text-transform: uppercase;
}

.listes-services1 h3{
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.listes-services1 ul{
    list-style: none;
    line-height: 3;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin: 0 auto;
}

.btn.btn-primary{
    background-color: #fff;
    color: #14406c;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    width: 200px;
    height: 50px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 50px auto;
    transition: transform 0.3s ease;
}

.btn.btn-primary:hover{
    background-color: #fff;
    color: #1999d5;
    transform: translateY(-10px);
}
/*************************************A PROPOS******************************************************/
#info{
    overflow: hidden;
    background-color: #faf8ef;
}
#info h2{
    text-align: center;
    text-transform: uppercase;
    margin:  30px auto;
}
.carousel-container{
    margin-top: 20px;
    display:flex;
}

#customCarousel {
    max-width: 500px;
    margin: auto; 
  }
  
  #customCarousel img {
    width: 100%;
    height: auto;
    overflow: hidden;
  }

#info .btn.btn-primary{
    background-color: #14406c;
    color: #fff;
}

#info .btn.btn-primary:hover{
    background-color: #fff;
    color: #14406c;
    border:  2px solid #14406c; 
}
/*************************************FOOTER******************************************************/



#footer{
    bottom: 0;
    position:relative;
    background-color: black;
    width: 100%;
    overflow: hidden;
}

.column-footer{
    display: inline-flex;
    display: flex;
    justify-content: space-evenly;

}

.column ul{
    list-style: none;
    
}

.column ul a{
    color: #fffefe;
}

.column h2{
    color: #fffefe;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.column ul li{
    text-align: center;    
}

.column ul li i{
    padding-right: 10px; 
    font-size: 30px; 
    color: #fffefe; 
}