*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/************************MOBILE FIRST************/
@media (max-width:768px) {
    .mobilenav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #14406c;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .mobilenav a{
        display: flex;
        flex-direction: column;
        margin: 25px 25px;
        text-transform: uppercase;
        color: #faf8ef;
        transition: color 0.3s ease;
        
    }
    .mobilenav a:hover{
        text-decoration: none;
        color: #1a99d5;
    }
    .open-btn {
        color: #fffeff;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 24px;
        margin-left: 15px;
    }
    .btn-devis {
        text-transform: uppercase;
        background-color: #faf8ef;
        color: #14406c;
        text-decoration: none;
        border: 2px solid #faf8ef;
        border-radius: 16px;
        transition: border 0.3s ease;
        
    }
    
    .btn-devis:hover {
        border-color: #1a99d5;
    }
    
    .btn-devis p{
        margin: auto auto;
        padding: 5px;
        font-weight: 500;
        align-items: center;
        color: #14406c;
        font-size:15px ;
        transition: color 0.2s ease;
        
    }
    .btn-devis p:hover {
        color: #1a99d5;
        border-radius: 16px;
    }

    .sidenav a{
        display: none;
    }
    /*****************SERVICE*************/
        .container h1 {
            text-align: center;
            padding-top: 30px;
            font-size: 25px;
        }
    
        .container p {
            font-size: 20px;
            padding-top: 10px; 
            font-size: 20px; 
        }
    
        .listes-services {
            flex-direction: column;
            margin: 20px; 
            padding: 0;
            overflow: visible; 
        }
    
        .service {
            margin-bottom: 20px; 
        }
        #footer{
            bottom: 0;
            position: absolute;
            background-color: black;
            width: 100%;
        }
        
        .column-footer{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
        
        }
        
        .column ul{
            list-style: none;
            
        }
        
        .column ul a{
            color: grey;
        }
        
        .column h2{
            font-size: 25px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .column ul li{
            text-align: center;
            font-size: 15px;    
        }
        
        .column ul li i{
            padding-right: 10px;    
        }

    
    
    }


/************************TABLETTE************/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    *{
        margin: 0;
        padding: 0;
    }

    /*****************SERVICE*************/


    .container h1{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 50px;
        text-transform: uppercase;
        color: #14406c;
        font-size:30px ;
    }
    .container p{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
    }

    .listes-services{
        flex-direction: column;

    }
    .service{
        flex-direction: column;
        text-align: center;
    }

    .service img{
    width:200px;
    }



    .service p{
    text-transform: uppercase;
    }
    

}

/*****DESKTOP*****/
@media only screen and (min-width: 601px) {
    .open-btn{
        display: none;
    }
    .mobilenav{
        display: none;
    }

    .sidenav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #14406c;
        height: 50px;
        font-size:20px;
        text-align: right;
    }
    
    .sidenav a{
      color: #faf8ef;
      margin-right: 5%;
      text-transform: uppercase;
      transition: color 0.3s ease;  
      
    
    }
    .sidenav a:hover{
        color: #1a99d5;
        text-decoration: none;
        
    }
    
    .closebtn{
        display: none;
    }
    .btn-devis {
        text-transform: uppercase;
        background-color: #faf8ef;
        color: #14406c;
        text-decoration: none;
        border: 2px solid #faf8ef;
        border-radius: 16px;
        transition: border 0.3s ease;
        
    }
    
    .btn-devis:hover {
        border-color: #1a99d5;
    }
    
    .btn-devis p{
        margin: auto auto;
        padding: 10px;
        font-weight: 500;
        align-items: center;
        color: #14406c;
        font-size:15px ;
        transition: color 0.2s ease;
        
    }
    .btn-devis p:hover {
        color: #1a99d5;
        border-radius: 16px;
    }    
}


.sidenav{
    background-color: #14406c;
}
/*************************************SERVICE******************************************************/
#services{
    background-color: #faf8ef;
    overflow: hidden;
}
.container h1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
    text-transform: uppercase;
    color: #14406c;
    cursor:  default;
    
}
.container p{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    cursor:  default;
}

 


.listes-services{
    display: inline-flex;
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    padding: 0 50px;
    overflow: hidden;
    

}
.service{
    flex-direction: column;
    text-align: center;
    padding: 20px 20px;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
    
}

.service:hover{
    transform: translateY(-10px);
    color: #1999d5;


}
  

.service img{
    width:200px;
}





.service p{
   text-transform: uppercase;
}


/*************************************FOOTER******************************************************/



#footer{
    bottom: 0;
    position:relative;
    background-color: black;
    width: 100%;
}

.column-footer{
    display: inline-flex;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;

}

.column ul{
    list-style: none;
    
}

.column ul a{
    color: #fffefe;
}

.column h2{
    color: #fffefe;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.column ul li{
    text-align: center;    
}

.column ul li i{
    padding-right: 10px; 
    font-size: 30px; 
    color: #fffefe; 
}