/*https://huemint.com/website-2/#palette=1a1e28-ec008c-fff200-00aeef */

*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/************************MOBILE FIRST************/
@media (max-width:768px) {
    /****MOBILE NAVBAR***/
    .mobilenav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #1a1e28;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .mobilenav a{
        display: flex;
        flex-direction: column;
        margin: 25px 25px;
        text-transform: uppercase;
        color: #faf8ef;
        transition: color 0.3s ease;
        
    }
    .mobilenav a:hover{
        text-decoration: none;
        color: #ec008c;
    }
    .open-btn {
        color: #fffeff;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: 24px;
        margin-left: 15px;
    }
    .btn-devis {
        text-transform: uppercase;
        background-color: #ec008c;
        color: #faf8ef;
        text-decoration: none;
        border: 2px solid #ec008c;
        border-radius: 16px;
        transition: border 0.3s ease;
        
    }
    
    .btn-devis:hover {
        border-color: #faf8ef;
        background-color: #faf8ef;
        border: #ec008c solid 2px;
    }
    
    .btn-devis p{
        margin: auto auto;
        padding: 5px;
        font-weight: 500;
        align-items: center;
        color: #faf8ef;
        font-size:15px ;
        transition: color 0.2s ease;
        
    }
    .btn-devis p:hover {
        color: #ec008c;
        border-radius: 16px;
    }

    .sidenav a{
        display: none;
    }
    /*****************SERVICE*************/
        .container h1 {
            text-align: center;
            padding-top: 30px;
            font-size: 25px;
        }
    
        .container p {
            font-size: 20px;
            padding-top: 10px; 
            font-size: 20px; 
        }
    
        .listes-services {
            flex-direction: column;
            margin: 20px; 
            padding: 0;
            overflow: visible; 
        }
    
        .service {
            margin-bottom: 20px; 
        }

        .expimage{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content:center;
            margin:0 auto ;
                    
        }
        .expimage img{
            background-color:#00aeef;
            padding: 5px;
            width: 30%;
            height: 30%;
            margin:50px ;
        }
        #footer{
            bottom: 0;
            position: absolute;
            background-color: black;
            width: 100%;
        }
        
        .column-footer{
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
        
        }
        
        .column ul{
            list-style: none;
            
        }
        
        .column ul a{
            color: grey;
        }
        
        .column h2{
            font-size: 25px;
            text-align: center;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .column ul li{
            text-align: center;
            font-size: 15px;    
        }
        
        .column ul li i{
            padding-right: 10px;    
        }

    
    
    }


/************************TABLETTE************/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    *{
        margin: 0;
        padding: 0;
    }

    /*****************SERVICE*************/


    .container h1{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 50px;
        text-transform: uppercase;
        color: #14406c;
        font-size:30px ;
    }
    .container p{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
    }

    .listes-services{
        flex-direction: column;

    }
    .service{
        flex-direction: column;
        text-align: center;
    }

    .service img{
    width:200px;
    }



    .service p{
    text-transform: uppercase;
    }
    

}

/*****DESKTOP*****/
@media only screen and (min-width: 601px) {
    .open-btn{
        display: none;
    }
    .mobilenav{
        display: none;
    }

    .sidenav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-color: #1a1e28;
        height: 50px;
        font-size:20px;
        text-align: right;
    }
    
    .sidenav a{
      color: #faf8ef;
      margin-right: 5%;
      text-transform: uppercase;
      transition: color 0.3s ease;  
      
    
    }
    .sidenav a:hover{
        color: #ec008c;
        text-decoration: none;
        
    }
    
    .closebtn{
        display: none;
    }
    .btn-devis {
        text-transform: uppercase;
        background-color: #ec008c;
        color: #faf8ef;
        text-decoration: none;
        border: 2px solid #ec008c;
        border-radius: 16px;
        transition: border 0.3s ease, background-color 0.3s ease, color 0.3s ease;
        
    }
    
    .btn-devis:hover {
        border-color: #ec008c;
        background-color: #faf8ef;
    }
    
    .btn-devis p{
        margin: auto auto;
        padding: 10px;
        font-weight: 500;
        align-items: center;
        color: #faf8ef;
        font-size:15px ;
        transition: color 0.2s ease;
        
    }
    .btn-devis p:hover {
        color: #ec008c;
        border-radius: 16px;
    }

    .expimage{
        display: flex;
        justify-content:center;
        margin:50px ;
        overflow: hidden;
    
    }
    .expimage img{
        background-color:#00aeef;
        padding: 5px;
        width: 15%;
        height: 15%;
        margin:50px ;
    }
    
}


.sidenav{
    background-color: #1a1e28;
}
/*************************************SERVICE******************************************************/
#services{
    background-color: #1a1e28;
    overflow: hidden;
}
.container h1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
    text-transform: uppercase;
    color: #ec008c;
    cursor:  default;
    
}
.container p{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
    cursor:  default;
    color: #fff200;
}

 


.listes-services{
    display: inline-flex;
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    padding: 0 50px;
    overflow: hidden;
    

}
.service{
    flex-direction: column;
    text-align: center;
    padding: 20px 20px;
    transition: transform 0.3s ease-in-out, color 0.3s ease;
    color: #faf8ef;
    
}

.service:hover{
    transform: translateY(-10px);
    color: #ec008c;


}
  

.service img{
    width:200px;
}




.service p{
   text-transform: uppercase;
}


/*************************************FOOTER******************************************************/



#footer{
    bottom: 0;
    position:relative;
    background-color: #000;
    width: 100%;
    overflow: hidden;
}

.column-footer{
    display: inline-flex;
    display: flex;
    justify-content: space-evenly;

}

.column ul{
    list-style: none;
    
}

.column ul a{
    color: #fffefe;
    transition: color 0.3s ease;
}

.column ul a:hover{
    color: #ec008c;
}

.column h2{
    color: #fffefe;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.column ul li{
    text-align: center;    
}



.column ul li i{
    padding-right: 10px; 
    font-size: 30px; 
    color: #fffefe; 
}
.column ul li i:hover{
    padding-right: 10px; 
    font-size: 30px; 
    color: #00aeef; 
}