*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}
/************************MOBILE FIRST************/
@media only screen and (max-width:768px) {
    *{
        margin: 0;
        padding: 0;
    }

    /*****************SERVICE*************/
    @media only screen and (max-width: 768px) {
        .container h1 {
            padding-top: 30px;
            font-size: 25px;
        }
    
        .container p {
            font-size: 20px;
            padding-top: 10px; 
            font-size: 20px; 
        }
    
        .listes-services {
            flex-direction: column;
            margin: 20px; 
            padding: 0;
            overflow: visible; 
        }
    
        .service {
            margin-bottom: 20px; 
        }
    
    }

    /******************** FOOTER SECTION *******************/
    #footer{
        bottom: 0;
        position: absolute;
        background-color: black;
        width: 100%;
    }
    
    .column-footer{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
    
    }
    
    .column ul{
        list-style: none;
        
    }
    
    .column ul a{
        color: grey;
    }
    
    .column h2{
        font-size: 25px;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .column ul li{
        text-align: center;
        font-size: 15px;    
    }
    
    .column ul li i{
        padding-right: 10px;    
    }

}
/************************TABLETTE************/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    *{
        margin: 0;
        padding: 0;
    }

    /*****************SERVICE*************/


    .container h1{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 50px;
        text-transform: uppercase;
        color: #14406c;
        font-size:30px ;
    }
    .container p{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding-top: 20px;
        text-align: center;
        font-size: 15px;
    }

    .listes-services{
        flex-direction: column;

    }
    .service{
        flex-direction: column;
        text-align: center;
    }

    .service img{
    width:200px;
    }



    .service p{
    text-transform: uppercase;
    }
    

}
/*************************************NAVBAR SECTION******************************************************/

#navbar {
    position: sticky;
    top: 0;
    z-index: 10;
}


.navbar {
    background: linear-gradient(to right, #14406c, #14406c);
    
}

#navbar .navbar-nav .nav-item {
    padding: 0 50px;
    
}

#navbarNav .nav-link {
    color: #fffefe;
    font-weight: 600;
    text-align: left;
}

.fa-bars {
    color: #fffefe;
    font-size: 30px;
}

.navbar-toggler {
    outline: none;
}

#navbarNav .button{
     
    background-color: #fff;
}

#navbarNav .button h6{
    margin: 10px 10px;
    color: #14406c;
    

}
#navbarNav .button a:hover{
    text-decoration: none;
}

#navbarNav .button h6:hover{
    margin: 10px 10px;
    color: #14406c;
    

}


/*************************************SERVICE******************************************************/
#services{
    background-color: #faf8ef;
    overflow: hidden;
}
.container h1{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 50px;
    text-transform: uppercase;
    color: #14406c;
    
    
}
.container p{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
    font-size: 25px;
}

 


.listes-services{
    display: inline-flex;
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    padding: 0 50px;
    overflow: hidden;
    

}
.service{
    flex-direction: column;
    text-align: center;
    padding: 20px 20px;
    transition: transform 0.3s ease-in-out;
    
}

.service:hover{
    transform: translateY(-10px);

}
  

.service img{
    width:200px;
}





.service p{
   text-transform: uppercase;
}


/*************************************FOOTER******************************************************/



#footer{
    bottom: 0;
    position:relative;
    background-color: black;
    width: 100%;
}

.column-footer{
    display: inline-flex;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;

}

.column ul{
    list-style: none;
    
}

.column ul a{
    color: #fffefe;
}

.column h2{
    color: #fffefe;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.column ul li{
    text-align: center;    
}

.column ul li i{
    padding-right: 10px; 
    font-size: 30px; 
    color: #fffefe; 
}